@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

#_next > div {
  display: none !important; /* Esto oculta el logo de carga */
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@theme {
  /* --color-moebius-100: rgb(174, 188, 204);
  --color-moebius-200: rgb(148, 108, 132);
  --color-moebius-300: rgb(242, 165, 155);
  --color-moebius-400: rgb(196, 116, 84);
  --color-moebius-500: rgb(98, 52, 34);
  --color-moebius-600: rgb(83, 52, 44); */
  /* --color-moebius-100: #40e0d0;
  --color-moebius-200: #a7e8e8;
  --color-moebius-300: #c1f1f1;
  --color-moebius-400: #a29bfe;
  --color-moebius-500: #6dd5fa;
  --color-moebius-600: #d7e8f7; */
  --color-palette-001: #02315E;
  --color-palette-002: #00457E;
  --color-palette-003: #2F70AF;
  --color-palette-004: #B9848C;
  --color-palette-005: #806491;
}

.font-display {
  letter-spacing: 2px;
}

:root {
  --background: #a29bfe;
  --foreground: #d7e8f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.body-style {
  color: var(--foreground);
  background: rgb(2,49,94);
  background: -moz-linear-gradient(132deg, rgba(2,49,94,1) 0%, rgba(0,69,126,1) 11%, rgba(47,112,175,1) 27%, rgba(99,165,230,1) 50%, rgba(162,204,244,1) 82%, rgba(240,188,255,1) 100%);
  background: -webkit-linear-gradient(132deg, rgba(2,49,94,1) 0%, rgba(0,69,126,1) 11%, rgba(47,112,175,1) 27%, rgba(99,165,230,1) 50%, rgba(162,204,244,1) 82%, rgba(240,188,255,1) 100%);
  background: linear-gradient(132deg, rgba(2,49,94,1) 0%, rgba(0,69,126,1) 11%, rgba(47,112,175,1) 27%, rgba(99,165,230,1) 50%, rgba(162,204,244,1) 82%, rgba(240,188,255,1) 100%);
}

body{
  font-family:'Rubik';
}